<div id="news-page">
    <nav class="navbar navbar-expand-lg navbar-dark blue scrolling-navbar">
        <div class="navbar-brand" routerLink="/home"><strong>News Reader</strong></div>
    </nav>
    <section class="dashboard container-fluid">
        <div class="row">
            <mdb-card class="col-2 news-card">
                <!--Card image-->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4>Card Title</h4>
                    </mdb-card-title>
                    <!--Text-->
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content.</mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </section>
</div>